.channel{
  background-color: grey;
  text-align:center;
  padding:15px;
  width:500px;
  height:300px;
  border:1px solid black;
  border-radius:20px;
  flex-grow: 1;
  flex-basis:150px;
  cursor:pointer;
  margin:auto;
  margin-top:20px;
}
.channel:hover{
  background-color: lightgray;
}
.post{
  background-color: grey;
  text-align:center;
  padding:15px;
  width:500px;
  height:fit-content;
  border:1px solid black;
  border-radius:20px;
  flex-grow: 1;
  flex-basis:150px;
  margin:auto;
  margin-top:20px;
}
.reply{
  background-color: lightgrey;
  text-align:center;
  padding:30px;
  width:400px;
  height:fit-content;
  border:1px solid black;
  border-radius:20px;
  flex-grow: 1;
  flex-basis:150px;
  margin:auto;
  margin-top:20px;
}
.user{
  background-color: grey;
  text-align:center;
  padding:30px;
  width:400px;
  height:fit-content;
  border:1px solid black;
  border-radius:20px;
  flex-grow: 1;
  flex-basis:150px;
  margin:auto;
  margin-top:20px;
}
.user:hover{
  background-color: lightgray;
}
.ShowChannels{
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  gap:20px;
  justify-content: space-around;
  align-items:center;
}
.ShowPosts{
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  gap:20px;
  justify-content: space-around;
  align-items:center;
}
.ShowPost{
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  gap:20px;
  justify-content: space-around;
  align-items:center;
}
.ShowReplies{
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  gap:20px;
  justify-content: right;
  align-items:center;
}

h1{
  text-align:center;
}
h2{
  text-align:center;
}
form {
  border: 3px solid #f1f1f1;
}
p1{
  font-weight: bold;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}